*,
::after,
::before {
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: black #ccc;
}

body {
    margin: 0;
    font-family: 'Trebuchet MS', Helvetica,
        sans-serif;
    font-optical-sizing: none;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 2px;
    /* background: rgb(61, 61, 61); */
    background: #141414;

    scrollbar-color: transparent !important;
    /*scroll de baixo*/
    overflow-x: hidden !important;
    /*scroll do lado*/
    overflow-y: auto !important;
}


.movie-app > .row {
    overflow-x: auto !important;
    overflow-y: hidden !important;
    flex-wrap: nowrap;
}

.row>* {
    flex-shrink: 0;
    width: unset;
    max-width: 100%;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-top: var(--bs-gutter-y);
}

.image-container {
    position: relative;
    transition: transform 0.2s;
    align-content: center !important;
}

.image-container:hover {
    cursor: pointer;
    transform: scale(1.1);
   
}

.image-container:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    bottom: 0;
    left: 0px;
    font-size: 1.5rem;
    padding: 1.8rem 0;
    text-align: center;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

